<html>
<head>
    <meta charset="UTF-8">
    <title>Electronics Page</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

{% load i18n %}
{% load static %}
<body>
{% if messages %}
<ul class="messages">
    {% for msg in messages %}
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    </li>
{% endfor %}
</ul>
{% endif %}
<img src = "{% static 'globomantics.jpg' %} ">
<h1>{% trans "Welcome to our website" %}</h1>
<h1>Hello there, {{ request.session.customer }} has visited Globomantics store {{ request.COOKIES.visits|default:"1"  }} times.</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Item </th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<br>
{% if items.has_other_pages %}
<table class="table table-bordered">
  <tr class="pagination">
    {% if items.has_previous %}
      <td width="2"><a href="?page={{ items.previous_page_number }}">&laquo;</a></td>
    {% else %}
      <td class="disabled"><span>&laquo;</span></td>
    {% endif %}
    {% for i in items.paginator.page_range %}
      {% if items.number == i %}
        <td class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></td>
      {% else %}
        <td><a href="?page={{ i }}">{{ i }}</a></td>
      {% endif %}
    {% endfor %}
    {% if items.has_next %}
      <td><a href="?page={{ items.next_page_number }}">&raquo;</a></td>
    {% else %}
      <td class="disabled"><span>&raquo;</span></td>
    {% endif %}
  </tr>
{% endif %}
</table>

<table>
{% if is_paginated %}
<tr class="pagination">
{% if page_obj.has_previous %}
    <td width="2">
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </td>
{% endif %}
    <td class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </td>
{% if page_obj.has_next %}
    <td>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </td>
{% endif %}
</tr>
{% endif %}
</table>
<a href="/logout">Logout</a>
</body>
</html>